{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/css/base.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <span class="logo">Bookmarks</span>
    </div>
    <div id="content">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>